---
name: Images

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build image
    runs-on: ubuntu-latest

    strategy:
      matrix:
        image:
          - aprsgateway
          - dapnetgateway
          - dmrgateway
          - mmdvmhost

    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@v21

      - name: Build
        run: nix build .#${{ matrix.image }} --no-link

      - name: Build and push container image
        if: ${{ github.ref_name == 'main' }}
        run: |
          eval "$(nix print-dev-env)"

          set -x

          # Build image via Nix and take the resulting path as the local container registry
          local_cr="docker-archive://$(nix build .#${{ matrix.image }} --no-link --print-out-paths)"

          # Get the version tag as set by dockerTools.buildImage
          version_tag="$(skopeo list-tags "$local_cr" | jq -r '.Tags[0] | split(":")[1]')"

          # The container registry to push images to (GHCR)
          remote_cr="docker://ghcr.io/dannixon/${{ matrix.image }}"
          remote_cr_creds="${{ github.repository_owner }}:${{ github.token }}"

          # Push images
          skopeo copy --dest-creds="$remote_cr_creds" "$local_cr" "$remote_cr:$version_tag"
          skopeo copy --dest-creds="$remote_cr_creds" "$local_cr" "$remote_cr:latest"
